/* ===== Google Font Import - Poformsins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(karibu.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4070f4;
}
.main{
  width: 100%;
  background-image: url(./loginlock.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  flex: left;
  padding: 30px;
}
.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}

.form {
  width: 280px;
  height: 400px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  position: center;
  top: -20px;
  left: 870px;
  transform: translate(0%, -5%);
  border-radius: 10px;
  padding: 25px;
}
.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #fbe307;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}
.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}
.form input:focus {
  outline: none;
}
::placeholder {
  color: #fff;
  font-family: Arial;
}
.btnn {
  width: 220px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}
.btnn:hover {
  background: #fff;
  color: #ff7200;
}
.btnn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

@media screen and (max-width: 1170px) {
  /*Login-box*/
  .main {
    padding-left: 20px;
    height: 180vh;
  }
  .form {
    margin-left: -30px;
    width: 250px;
    height: 370px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0.8) 50%
    );
    position: absolute;
    top: 420px;
    left: 50px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
  }
  .form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
  }
  .btnn a {
    font-size: 16px;
  }
  .form .link a {
    font-size: 16px;
  }
}

@media screen and (max-width: 830px) {
  /*For tablet*/

  .content {
    margin-top: 120px;
    width: 80%;
    margin-left: 40px;
  }
  .content h1,
  .content span {
    font-size: 6vw;
  }
  .content .par {
    width: 90%;
    font-size: 1.8vw;
  }
  .content .cn {
    width: 15%;
    height: 4.5vw;
    font-size: 2vw;
  }
  .content a {
    font-size: 2vw;
  }
  .logo {
    margin-left: 240px;
    width: 100%;
    margin-top: 15px;
    font-size: 5vw;
  }
  .menu {
    width: 100%;
  }
  ul {
    margin-top: -5px;
    margin-left: 5px;
  }
  ul li {
    margin-left: 60px;
  }
  ul li a {
    font-size: 2vw;
  }

  .btn {
    height: 30px;
    width: 70px;
  }
  .main {
    padding-left: 20px;
    height: 180vh;
  }
  .form {
    margin-left: -30px;
    width: 250px;
    height: 370px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0.8) 50%
    );
    position: absolute;
    top: 430px;
    left: 50px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
  }
  .form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ffae00;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
  }
  .btnn a {
    font-size: 16px;
  }
  .form .link a {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  /*IPAD*/

  .content {
    margin-top: 80px;
    margin-left: 20px;
  }
  .search {
    margin-top: -40px;
    margin-left: 42px;
  }
  .logo {
    margin-left: 180px;
    font-size: 4vw;
  }
  ul {
    margin-top: -25px;
    margin-left: -5px;
  }
  ul li {
    margin-left: 50px;
  }
  ul li a {
    font-size: 2vw;
  }
}

@media screen and (max-width: 450px) {
  /*mobile*/
  .logo {
    margin-left: 140px;
    font-size: 4vw;
  }
  ul {
    margin-top: -25px;
  }
  ul li {
    margin-left: 42px;
  }
  ul li a {
    font-size: 2vw;
  }
  .search {
    margin-top: -40px;
    margin-left: 38px;
  }
}
